src/assets-source/courses/xml/lab04/solution/2.b.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:ns="NS"
        targetNamespace="NS"
        elementFormDefault="qualified">

  <element name="people">
    <complexType>
      <sequence>
        <element name="person" type="ns:personType" maxOccurs="unbounded"/>
      </sequence>
    </complexType>
  </element>

  <complexType name="personType">
    <sequence>
      <element name="first-name" type="string"/>
      <element name="last-name" type="string"/>
    </sequence>
    <attribute name="id" type="positiveInteger" use="required"/>
  </complexType>

</schema>
