src/assets-source/courses/xml/lab04/solution/4.a.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:redefine schemaLocation="4.a.1.xsd">
    <xsd:complexType name="personType">
      <xsd:complexContent>
        <xsd:extension base="personType">
          <xsd:sequence>
            <xsd:element name="middle-name" type="xsd:string"/>
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:redefine>

  <xsd:element name="person" type="personType"/>

</xsd:schema>
