src/assets-source/courses/xml/lab04/solution/5.a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="NS1"
            elementFormDefault="qualified">

  <xsd:complexType name="personType">
    <xsd:sequence>
      <xsd:element name="first-name" type="xsd:string"/>
      <xsd:element name="last-name" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
