src/assets-source/courses/xml/lab04/solution/5.b.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="NS2"
            elementFormDefault="qualified">

  <xsd:element name="car">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="manufacturer" type="xsd:string"/>
        <xsd:element name="model" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
