src/assets-en/courses/xml/gyak04/3.a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:complexType name="szemelyTipus">
    <xs:sequence>
      <xs:element name="vezeteknev" type="xs:string"/>
      <xs:element name="keresztnev" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="auto">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="gyarto" type="xs:string"/>
        <xs:element name="modell" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>