src/assets-en/courses/xml/gyak04/5.a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://iit.uni-miskolc.hu/xml/import/person"
           elementFormDefault="qualified">
  
  <xs:complexType name="personType">
    <xs:sequence>
      <xs:element name="firstName" type="xs:string"/>
      <xs:element name="lastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>