src/assets-en/courses/xml/gyak04/5.b.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://iit.uni-miskolc.hu/xml/import/car"
           elementFormDefault="qualified">
  
  <xs:element name="car">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="manufacturer" type="xs:string"/>
        <xs:element name="model" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>