src/assets-source/courses/xml/lab03/solution/1.c.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="empty-element-with-attributes" type="emptyElementWithAttributesType" minOccurs="3" maxOccurs="3"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="emptyElementWithAttributesType">
    <xsd:attribute name="x" type="xsd:integer" fixed="1"/>
    <xsd:attribute name="y" type="xsd:integer" default="2"/>
  </xsd:complexType>

</xsd:schema>
