src/assets-source/courses/xml/lab03/solution/2.a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="entity">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="attribute1" type="xsd:string"/>
        <xsd:element name="attribute2" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
