src/assets-source/courses/xml/lab03/solution/2.b.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="root">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="entity" type="entityType" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>

    <xsd:key name="keyRestriction">
      <xsd:selector xpath="entity"/>
      <xsd:field xpath="@key-attribute"/>
    </xsd:key>
  </xsd:element>

  <xsd:complexType name="entityType">
    <xsd:attribute name="key-attribute" type="xsd:int"/>
  </xsd:complexType>

</xsd:schema>
