src/assets-source/courses/xml/lab03/solution/2.d.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="entity" type="entityType"/>

  <xsd:complexType name="entityType">
    <xsd:sequence>
      <xsd:element name="composite-attribute" type="compositeAttributeType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="compositeAttributeType">
    <xsd:sequence>
      <xsd:element name="simple-attribute-1" type="xsd:string"/>
      <xsd:element name="simple-attribute-2" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
