src/assets-source/courses/xml/lab03/solution/2.e.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="entity" type="entityType"/>

  <xsd:complexType name="entityType">
    <xsd:sequence>
      <xsd:element name="multi-valued-attribute" type="multiValuedAttributeType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="multiValuedAttributeType">
    <xsd:sequence>
      <xsd:element name="value" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
