src/assets-en/courses/xml/gyak03/2.a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="egyed">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tulajdonsag1" type="xs:string"/>
        <xs:element name="tulajdonsag2" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>