src/assets-en/courses/xml/gyak03/2.d.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="egyed" type="egyedTipus"/>
  
  <xs:complexType name="egyedTipus">
    <xs:sequence>
      <xs:element name="osszetett-tulajdonsag" type="osszetettTulajdonsagTipus"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="osszetettTulajdonsagTipus">
    <xs:sequence>
      <xs:element name="resz1" type="xs:string"/>
      <xs:element name="resz2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>