src/assets-source/courses/xml/lab02/solution/6.dtd

<!ENTITY % book "INCLUDE">
<!ENTITY % album "IGNORE">

<![%book;[
  <!ELEMENT book (author, title, publisher, year)>
  <!ELEMENT author (#PCDATA)>
  <!ELEMENT title (#PCDATA)>
  <!ELEMENT publisher (#PCDATA)>
  <!ELEMENT year (#PCDATA)>
]]>

<![%album;[
  <!ELEMENT album (artist, title, genre, year)>
  <!ELEMENT artist (#PCDATA)>
  <!ELEMENT title (#PCDATA)>
  <!ELEMENT genre (#PCDATA)>
  <!ELEMENT year (#PCDATA)>
]]>
